.detail {
    position: relative;
    text-align: left;
}

.detail h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.notLoaded {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 0 20px;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: grey;
}
  
.loaded {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: green;
}
  
.waiting {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 0 20px;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: #20babd;
}

.container {
    background-color: rgba(239, 239, 239, 0.3);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.radio {
    display: flex;
    align-items: flex-end;
    width: 50px;
    margin: 5px;
}