.employeeItems {
    display: grid;
    grid-template-columns: 90px 100px 140px 90px 140px 150px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.notLoaded {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 0 20px;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: grey;
}
  
.loaded {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: green;
}
  
.waiting {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 0 20px;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: #20babd;
}