@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-top: 10px;
}

.form {
  flex:auto;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group-vertical {
  flex-direction: column;
}

.form-group-horizontal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #2196F3;
  border-radius: 5px;
  background: #2196F3;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  
}

.btn-menu {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

.btn-back {
  width: 150px;
  height: 40px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
  height: 40px;
}

.btn-grey {
  padding: 5px 15px;
  font-size: 13px;
  background: grey;
  border: none;
  height: 40px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.link {
  color: blue;
  text-decoration: underline;
}

/*work-status
0: waiting for setup
1: waiting for delivery
2: waiting for installation
3: installation in progress
4: installation completed
5: installation order closed
*/

.status {
  background-color: #333;
  color: #fff;
  width: 120px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  margin-right: 15px;
  width: 175px;
  height: 50px;
  padding: 15px 0;
}

.status-0 {
  background-color: grey;
}

.status-1 {
  background-color: darkred;
}

.status-2 {
  background-color: #20babd;
}

.status-3 {
  background-color: lightgreen;
}

.status-4 {
  background-color: green;
}

.status-5 {
  background-color: darkslategray;
}